$bg: #202124;
$sec: #bbb;

@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;300&display=swap");

body {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
  width: 100vw;

  font-family: "Roboto Mono", monospace;
  color: $sec;

  background-color: $bg;
}

@mixin flexbox($direction) {
  display: flex;
  flex-direction: $direction;

  justify-content: center;
  align-items: center;
}

.slider {
  -webkit-appearance: none;
  width: 50%;
  height: 1px;
  background: $bg;
  outline: none;
  border: 1px solid $sec;
  border-radius: 8px;

  transform: rotate(180deg);
}

/* for chrome/safari */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 40px;
  width: 10px;
  background: $bg;
  cursor: pointer;
  border: 1px solid $sec;
  border-radius: 4px;
}

/* for firefox */
.slider::-moz-range-thumb {
  height: 5px;
  width: 5px;
  background: $bg;
  cursor: pointer;
  border: 5px solid $sec;
  border-radius: 4px;
}

#container {
  display: flex;
  transform: scaleX(-1);
  transform: scaleY(-1);
  align-items: baseline;
  justify-content: baseline;

  margin: 20px;
}

#topbar {
  z-index: 2;
  position: fixed;

  top: 0;
  left: 0;

  margin-top: 5px;

  width: 100%;
  height: fit-content;

  @include flexbox(column);
}

#options-wrapper {
  @include flexbox(row);
}

@mixin inputs {
  margin: 10px;

  background-color: $bg;
  color: $sec;

  padding: 10px;

  border: 1px $sec solid;
  border-radius: 8px;
}

input {
  @include inputs;
}

#startSimulation {
  @include inputs;
}

#stopSimulation {
  @include inputs;
}

select {
  @include inputs;
  border-radius: 0;
}

#showMoreButton {
  display: none;

  &:hover {
    animation: spin 1s forwards;
  }
}

#showLessButton {
  transition: all 500ms;

  &:hover {
    animation: spin 1s forwards;
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
